include bulma-radio-checkbox.css

#bigBox {
  background-color: #f2f2f2 !important;
}

#navBar {
  background-image: linear-gradient(#80ccff, #008ae6);
  border-radius: 10px;
}

.media-content {
  width: 50px !important;
}

.input {
  width: 60% !important;
  margin-right: 5px;
}

.select {
  margin-right: 3px;
}

.pagination {
  width: 40%;
  justify-content: center;
}

label {
  padding-right: 5px;
}

ul li {
  color: black;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

ul li a {
  color: black;
  font-weight: bold;
}

li {
  list-style-type: none;
}

details summary::-webkit-details-marker {
  display:none;
}

details {
  margin: 20px;
}

i {
  color: white;
  font-size: 2em;
}

.item_table {
  margin-bottom: 50px;
}

.item_table table thead th {
  font-size: 1.5em;
}

.item_table tfoot tr td {
  font-size: 1.5em;
}

.item_table tbody tr .subtotal {
  font-size: 1.5em;
  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.item_table tbody tr td {
  font-size: 1.2em;
}

.tax_table tr th {
  font-size: 1.5em;
}