#bigBox {
  background-color: #f2f2f2 !important;
}

#navBar {
  background-image: linear-gradient(#80ccff, #008ae6);
  border-radius: 10px;
}

.media-content {
  width: 50px !important;
}

.input {
  width: 60% !important;
}

.pagination {
  width: 40%;
  margin: 0px;
}

label {
  padding-right: 5px;
}